<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      baQR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- iOS header -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">baQR</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row *ngFor="let data of vCards">
      <ion-card style="width:100%;">
        <ion-card-header>
          <ion-card-subtitle>{{data.timestamp | date: 'dd.MM.yy - HH:mm' }}</ion-card-subtitle>
          <ion-card-title>{{ data.vCard.lastName }}{{data.vCard.lastName ? ', ': ''}}{{data.vCard.firstName}}</ion-card-title>
        </ion-card-header>      
        <ion-card-content>
          <img [src]="data.qrSrc" alt="baQR-Code" width="100%">
        </ion-card-content>
      </ion-card>
    </ion-row>
    <!-- empty list -->
    <ion-row *ngIf="vCards && vCards.length === 0">
      <ion-card style="width:100%;">
        <ion-card-header>
          <ion-card-title>Welcome to baQR!</ion-card-title>
        </ion-card-header>      
        <ion-card-content>
          <p>You can read more about <a>baQR</a> or start using it by creating your first baQR-Code.</p>
          <div style="text-align: center;">
            <ion-button color="success" fill="outline" (click)="presentActionSheet()">Start</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" style="margin-bottom: 50px;">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
