<ion-content [fullscreen]="true">

   <!-- Fallback for iOS PWA -->
   <!-- <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event.target.files)"> -->
 
   <!-- Trigger the file input -->
   <!-- <ion-button expand="full" (click)="captureImage()">
     <ion-icon slot="start" name="camera"></ion-icon>
     Capture Image
   </ion-button>  -->
  
   <!-- Shows our camera stream -->
   <video #video [hidden]="!scanActive" width="100%"></video>
  
   <!-- Used to render the camera stream images -->
   <canvas #canvas hidden></canvas>
  
   <ion-card *ngIf="scanResult">
     <ion-card-header>
       <ion-card-title>QR Code</ion-card-title>
     </ion-card-header>
     <ion-card-content>
      {{ scanResult }}
      <br>
      <ion-button (click)="reset()" color="warning" expand="block" fill="outline">         
        <ion-icon slot="start" name="refresh"></ion-icon>
        Reset
      </ion-button>
     </ion-card-content>
   </ion-card>

  <div *ngIf="!scanResult" id="container">
    <strong>Scan your bagQR-Code!</strong>
    <br>
    <ion-button *ngIf="!scanActive" color="warning" (click)="reset()">Start scan</ion-button>    
    <ng-container *ngIf="!scanActive && (scanCount === 1)">
      <br>
      <small >No baQR-Code detected.</small>
    </ng-container>
  </div>
</ion-content>
