<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Welcome to baQR!</h3>
        <p>A modern take on luggage tags!</p>
        <p>baQR was born after playing around with QR codes and them displaying contact information as a vCard. Originally the idea was to use the QR code on a business card - but from there the idea to use it as a luggage tag arose.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>How to use</h4>
        <p>baQR can be used differently...</p>
        <p>1st: As a one time, <strong>self-contained</strong> read only tag.</p>
        <span class="intented">
          <ul>
            <li>Create a baQR-Code.</li>
            <li>Print it!</li>
            <li>Profit 🥳</li>
          </ul>
        </span>
        <p>2nd: As a cloud connected <strong>self-updating</strong> tag.</p>
        <span class="intented">
          <ul>
            <li>Create a baQR-Code.</li>
            <li>Print it!</li>
            <li>Profit 🥳</li>
            <li>Update it via baQR if needed.</li>
            <li>... more profit 😁</li>
          </ul>
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>More</h4>
        <p>Install baQR as <ion-icon name="logo-pwa"></ion-icon>.</p>
        <p>Made with ❤ by <a target="_blank" style="text-decoration: none;" href="https://gitlab.com/jgerstbe">jgerstbe</a>.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>